.closeBtn {
  display: flex;
  position: fixed;
  width: 100vw;
  left: 35%;
  top: 10%;
  bottom: 0;
  color: var(--text-color);
  transform: scale(3);
  cursor: pointer;
  margin-left: 150px;
}

.image {
  width: 500px;
  height: 350px;
  padding-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .gitLogo,
  .maillogo,
  .fbLogo {
    color: var(--text-color);
    cursor: pointer;
    margin-left: 6rem;
    filter: drop-shadow(3px 5px 1px var(--nav-color));
    transition-duration: 0.3s;
  }
  .mailLogo {
    margin-left: 7.7rem;
  }
  .fbLogo {
    margin-left: 8.1rem;
  }
}
